<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">

<resultMap id="noticeResult" type="Notice">
	<id property="noticeNo" column="NOTICE_NO"/>
	<result property="noticeTitle" column="NOTICE_TITLE"/>
	<result property="noticeWriter" column="NOTICE_WRITER"/>
	<result property="noticeDate" column="NOTICE_DATE"/>
	<result property="noticeContent" column="NOTICE_CONTENT"/>
	<result property="filePath" column="FILE_PATH"/>
</resultMap>

<select id="selectList" resultMap="noticeResult">
	SELECT * FROM NOTICE ORDER BY NOTICE_NO DESC
</select>

<select id="selectOne" parameterType="_int" resultMap="noticeResult">
	SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo}
</select>

<select id="selectTitle" 
        parameterType="string" 
        resultMap="noticeResult">
        select * 
        from notice 
        where notice_title like '%' || #{keyword} || '%' 
        order by notice_no desc
</select>

<insert id="insertNotice" parameterType="Notice">
insert into notice values (
               (select max(notice_no) from notice) + 1,
               #{noticeTitle},
               #{noticeWriter},
               sysdate,
               #{noticeContent},
               #{filePath})
</insert>

<update id="updateNotice" parameterType="Notice">
	update notice
	set notice_title = #{noticeTitle},
	notice_content = #{noticeContent},
	file_path = #{filePath}
	where notice_no = #{noticeNo}
</update>

<delete id="deleteNotice" parameterType="_int">
	delete from notice where notice_no = #{noticeNo}
</delete>

</mapper>